@import '../variables.scss';

*{@include default}


// ====================== Section Two ===========================

.sectionTwo {
    padding: 20px 15%;
    text-align: center;
}


.sectionTwoDiv{
    display: flex;
    gap: 30px;
    padding-top: 20px;
}

.sectTwoEachDiv{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 30px;
}

.sectTwoEachDiv h2{
    font-size: 20px;
}


.sectTwoEachDiv p{
    padding: 20px 0;
}

.sectTwoEachDiv button{
    padding: 10px 20px;
    border: $my-blue solid 1px;
    background-color: $my-white;
    border-radius: 20px;
    cursor: pointer;
}

.secTwoIcons{
    font-size: 30px;
    color: $my-blue;
}


@media only screen and (min-width: $small-One) and (max-width: $medium-Two) {
    
    .sectionTwoDiv{
        display: block;
    } 

    .sectionTwo h2{
        font-size: 18px;
        padding-top: 30px;
    }

    .sectTwoEachDiv{
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
    }


    .sectTwoEachDiv p{
        font-size: 12px;
    }

    .sectionTwo {
        padding: 20px 5%;
        text-align: center;
    }
    
    .secTwoIcons{
        padding: 10px !important;
        font-size: 30px !important;
    }

    .sectTwoEachDiv h2{
        padding: 0 !important;
        font-size: 15px;
    }
}


// ============================== Carosel ===================================

.caroselDiv{
    text-align: left;
    padding: 50px 10%;
}


.caroselDiv h2{
    text-align: center;    

}


.caroselDiv p{
    text-align: center;
    padding-top: 10px;    
    padding-bottom: 30px;
}


// =============================== carol each ==========================


.caroselDivEach{
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.caroselDivEach h3{
    padding: 10px 0;
}

.caroseldivEachText{
    padding: 20px;
}

.caroselDivEach img{
    border-radius: 10px 10px 0 0 ;
    width: 100%;
}


// ================= carol price ======================

.carolPrice{
    display: flex;
    align-items: center;
}

.carolPrice p{
    display: flex;
    gap: 5px;
    align-items: center;
}


.carolPrice h4{
    margin-left: auto;
    font-size: 16px;
    color: $my-blue;
}

.carolSize{
    display: flex;
    gap: 20px;
}

.carolSize p{
    display: flex;
    align-items: center;
    gap: 10px;
}


.carolSize{
    padding: 10px 0;
}
.caroseldivEachText p{
    padding: 10px 0 ;
}

.carolProfile{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.profDivCarol{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profDivCarol img{
    width: 30px;
}

.carolProfile h4{
    padding: 0;

}

.iconsDiv{
    display: flex;
    gap: 20px;
    margin-left: auto;
    align-items: center;
}

.iconsDiv p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDEFF6;
    width: 100%;
    padding: 6px 10px !important;
    font-size: 15px;
    border-radius: 5px;
}

hr{
    border: rgb(234, 234, 234) solid 1px;
    padding: 0;
    
}


@media only screen and (min-width: $small-One) and (max-width: $medium-Two) {

    .react-multiple-carousel__arrow {
        background: rgba(0,0,0,0.5) !important;
        top: 40px;
    }
    .caroselDiv{
        text-align: left;
        padding: 50px 5%;
    }
    
    
    .caroselDivEach{
        margin-right: 0;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

    .caroseldivEachText h3{
        font-size: 15px;
    }

    .carolPrice p{
        font-size: 12px;
    }

    .carolSize{
        padding: 10px 0;
    }

    .carolProfile{
        padding-top: 5px;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .profDivCarol{
        align-items: center;
    }

    .profDivCarol h4{
        font-size: 12px;
    }

    .profDivCarol img{
        width: 20px;
    }


    .iconsDiv{
        margin-left: auto;
        gap: 5px;
        padding: 5px;
        align-items: center;
    }

    .iconsDiv p{
        font-size: 12px;
        width: fit-content;
    }
    
}

