@import '../variables.scss';

*{@include default}

// =================== section three ==============================

.sectionThree{
    display: flex;
    align-items: center;
    background-color: #F7F7FF;
    padding: 20px;
}

.sectionThreeOne{
    width: 100%;
}

.sectionThree img{
    width: 100%;
}

.sectionThreeTwo{
    width: 100%;
    padding-left: 30px;
}


.sectionThreeText{
    width: 50%;
}

.sectionThreeText h2{
    font-size: 30px;
}

.sectionThreeText p{
    font-size: 15px;
    padding: 20px 0;
    line-height: 25px;
}


.sectionThreeText button{
    padding: 13px 30px;
    background-color: $my-blue;
    border: none;
    color: white;
    border-radius: 20px;
}


// ==================== secnd ======================
.sectionThreeTexta{
    width: 50%;
    justify-content: right;
    text-align: left;
}


.sectionThreea{
    display: flex;
    align-items: center;
    background-color: #F7F7FF;
    padding: 20px;
}


.sectionThreeOnea{
    width: 100%;
}

.sectionThreea img{
    width: 100%;
}

.sectionThreeTwoa{
    width: 100%;
    padding-left: 30px;
}


.sectionThreeTexta{
    width: 80%;
}


.sectionThreeTexta h2{
    font-size: 30px;
}

.sectionThreeTexta p{
    font-size: 15px;
    padding: 20px 0;
    line-height: 25px;
}


.sectionThreeTexta button{
    padding: 13px 30px;
    background-color: $my-blue;
    border: none;
    color: white;
    border-radius: 20px;
}


.newThree{
    display: none;
}

@media only screen and (min-width: $small-One) and (max-width: $medium-Two) {
    .sectionThree{
        display: block;
    }
    
    .sectionThreeText{
        width: 100%;
    }

    .sectionThree img{
        width: 100%;
        border-radius: 10px;
    }
    
    .sectionThreeTwo{
        width: 100%;
        padding-left: 0;
    }

    .sectionThreeText h2{
        font-size: 16px;
        padding-top: 10px;
    }

    .sectionThreeText p{
        font-size: 11px;
        line-height: 17px;
        text-align: justify;
    }

    .sectionThreeText button{
        padding: 10px 30px;
    }


    // ============second ========================
    .sectionThreea{
        display: block;
    }

    .sectionThreeTexta{
        width: 100%;
    }

    .sectionThreea img{
        width: 100%;
        border-radius: 10px;
    }
    
    .newThree{
        display: block;
    }

    .bigThree{
        display: none;
    }

    .sectionThreeTwoa{
        width: 100%;
        padding-left: 0;
    }

    .sectionThreeTexta h2{
        font-size: 16px;
        padding-top: 10px;
    }

    .sectionThreeTexta p{
        font-size: 11px;
        line-height: 17px;
        text-align: justify;
    }

    .sectionThreeTexta button{
        padding: 10px 30px;
    }
}



@media only screen and (min-width: 1024px) and (max-width:1200px) {
    
}