@import '../variables.scss';

*{@include default}


// ====================== Pro Single ===========================



.proSingleDiv{
    display: flex;
    justify-content: center;
    padding: 40px 10%;
    gap: 100px;
}

.proSingleDivFlex{
    width: 100%;
}

.proDivSing{
    display: flex;
    align-items: center;
    gap: 10px;
}

.proSingleSub{
    display: flex;
}

.proIconsDiv{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
    padding-bottom: 20px;
}

.proIconsDiv p{
    background-color: rgb(235, 235, 235);
    padding: 10px 15px;
    font-size: 15px;
    color: $my-blue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.proSingleDivImage{
    width: 100%;
}

.proSingleDivImage img{
    width: 100%;
    border-radius: 10px;
}

.proSingText h2{
    color: $my-blue;
    padding: 20px 0;
}

.proSingText p{
    padding: 10px 0;
    text-align: justify;
}

.proSingText h3{
    font-size: 30px;
}

.proSingText button{
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    border: solid 1px $my-blue;
    background-color: white;
    cursor: pointer;
}



@media only screen and (min-width: $small-One) and (max-width: $medium-Two) {
    .proSingleDiv{
        display: block;
        padding: 40px 5%;
    }

    .proSingleSub{
        align-items: center;
        display: flex;
    }

    .proDivSing{
        font-size: 12px;
    }

    .proIconsDiv{
        padding: 0;
    }

    .proIconsDiv p{
        font-size: 12px;
        padding: 5px 8px;
    }

    .proSingText h2{
        font-size: 15px;
        padding-bottom: 10px;
    }

    .proSingText p{
        font-size: 12px;
        padding-top: 10px;
    }

    .proSingText h3{
        font-size: 15px;
    }

    .proSingText button{
        margin: 10px 0;
    }

    .proSingleDivImage img{
        width: 100%;
    }
}
