@import '../variables.scss';

*{@include default}


// ====================== Agent Section ===========================

.agentSection{

}


.agentBanner{
    background-image: url(./agentImage.png);
    justify-content: center;
    align-items: center;
    height: 50vh;
    display: flex;
    width: 100%;
    background-repeat: repeat;
    background-size: cover;
}

.agentBanner h2{
    font-size: 40px;
    color: white;
}


.agentText{
    padding-top: 50px;
}

.agentInputDiv{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.agentInputDiv input{
    padding: 15px 30px;
    width: 100%;
    border-radius: 30px;
    border: none;
    
}

.agentInputDiv button{
    padding: 11px 30px; 
    font-size: 18px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 30px 30px 0;
    background-color: $my-blue;
    color: white;
}



.agentSectionTwo{
    display: flex;
    align-items: center;
    padding: 50px 10%;
    gap: 100px;
}

.agentSectionTwo div{
    width: 100%;
}


.agentSectionTwo img{
    width: 100%;
    border-radius: 20px;
}


.agentSectionTwo h2{
    font-size: 40px;
}


.agentSectionTwo p{
    font-size: 15px;
    padding: 20px 0;
}


.agentSectionTwo button{
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    background-color: $my-blue;
    color: white;
}


// ========================== meets agents ====================================

.meetDiv{
    padding: 10px 10%;
}

.meetH2{
    text-align: center;
}

.meetFlex{
}

.meetProfDiv{
    margin: 10px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    text-align: center;
}

.meetProfDiv img{
    width: 100%;
    border-radius: 10px;
}

.meetProfDiv h2{
    font-size: 15px;
    padding: 10px 0;
}



.meetProfDiv p{
    display: flex;
    gap: 5px;
    align-items: center;
    padding-bottom: 5px;
    justify-content: center;
}



.applyBanner{
    background-image: url(./agentApply.png);
    justify-content: center;
    align-items: center;
    height: 50vh;
    display: flex;
    width: 100%;
    background-repeat: repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
}


.applyText{
    width: 30%;
    color: white;
}

.applyText p{
    padding: 15px 0;

}

.applyText button{
    padding: 13px 40px;
    background-color: white;
    color: $my-blue;
    border: none;
    border-radius: 20px;
}


// ========================= talkImageDiv ==================================

.talkDiv{
    display: flex;
    padding: 50px 10%;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 50px;
}

.talkImageDiv {
    width: 100%;
}

.talkImageDiv img {
    width: 100%;
}


.talkTextDiv{
    width: 100%;
}


.talkTextDiv h2{
    font-size: 30px;
}

.talkTextDiv p{
    padding: 20px 0;
    font-size: 15px;
}

.talkTextDiv button{
    padding: 13px 30px;
    border: solid $my-blue 1px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}



@media only screen and (min-width: $small-One) and (max-width: $medium-Two) {
    .agentBanner h2{
        font-size: 20px;
        color: white;
        text-align: center;
    }

    .agentInputDiv input{
        padding: 13px 30px;
        width: 90%;
        border-radius: 30px;
        
    }
    
    .agentInputDiv button{
        padding: 10px 30px; 
        font-size: 15px;
        right: 5%;
    }

    .agentSectionTwo{
        display: block;
        padding: 50px 5%;
        gap: 0;
    }


    .agentSectionTwo h2{
        font-size: 20px;
        padding-top: 20px;
    }
    
    
    .agentSectionTwo p{
        font-size: 11px;
        padding: 20px 0;
        text-align: justify;
    }
    
    
    .agentSectionTwo button{
        padding: 10px 40px;
        color: white;
    }


    .meetDiv{
        padding: 10px 5%;
    }


    .meetProfDiv{
        margin: 10px 0;
        padding: 30px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        text-align: center;
        border-radius: 10px;
    }

    .meetProfDiv h2{
        font-size: 15px;
    }

    .meetProfDiv p{
        font-size: 12px;
    }

    .talkDiv{
        display: block;
        padding: 50px 5%;
        gap: 0;
    }


    .applyBanner{
        height: 40vh;
        display: flex;
        width: 100%;
        background-size:auto;
        background-repeat: no-repeat;
    }
    
    
    .applyText{
        width: 90%;
        color: white;
    }
    
    .applyText p{
        padding: 15px 0;
        font-size: 11px;
    
    }

    .applyText h2{
        font-size: 18px;
    }
    
    .applyText button{
        padding: 10px 40px;
        background-color: white;
        color: $my-blue;
        border: none;
        border-radius: 20px;
    }


    .talkTextDiv h2{
        font-size: 20px;
        padding: 10px 0;
    }
    
    
}